@import 'tailwindcss';
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5ae4a7;
  --color-primary-dark: #47c993;
}

/* Create reusable utility classes */
@layer utilities {
  .bg-primary { background-color: var(--color-primary); }
  .hover\:bg-primary-dark:hover { background-color: var(--color-primary-dark); }
  .text-primary { color: var(--color-primary); }
  .border-primary { border-color: var(--color-primary); }
  .ring-primary { --tw-ring-color: var(--color-primary); }
}
